.chat-container{
    width:95%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.input{
    font: inherit;
    border: 1px gray solid;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.2rem;
    width:100%;
    box-sizing: border-box;
    height: 5rem;
}


.label{
    margin: 0.5rem 0;
}

.btn {
    background-color: #139D69;
    color: white;
    width: fit-content;
    height: 2rem;
    margin: 1rem 1rem 0 0;
    border: none;
    font: inherit;
}

.pres-container {
    height: fit-content;
    padding: 1rem;
    left: 2.5%;
    width: 95%;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    overflow: auto;
    top: 2.5%;
    z-index: 4;
    animation-name: examples;
    animation-duration: 1s;
    box-sizing: border-box;
}

@media screen and (min-width:700px) and (max-width:900px) {
    .chat-container{
        width: 80%;
    }
}

@media screen and (min-width:901px) {
    .chat-container{
        width: 50%;
    }
}